@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
    opacity: .95;
}
.registrate {
  text-align: center;
  font-family: 'segoe script';
}

.reg-info {
  text-align: center;
  font-size: 16px;
}
img.logo{
  display: block;
  margin:auto;
  margin-bottom: 20px;
  width: 100%;
}

img.logo-reg{
  display: block;
  margin:auto;
  margin-bottom: 20px;
  width: 100%;
}

div.collapse ul li{
  display: block;
  width: 25%;
  padding-left: 0px;
  padding-top: 8px;
  margin: 0px;
  padding-bottom: 0px;
}

div.collapse ul li a{
  color: white;
}

div.collapse ul{
  text-decoration: none;
  margin-bottom: 0px;
  background-color: #dc3545;
  position: relative;
  bottom: 50px;
  font-family: segoe script;
  opacity: 0.5;
}

div.collapse{
  /* display: block; */
  background-color: #dc3545;
  /* opacity: 0.5; */
}

button.navbar-toggler{
  background-color: #dc3545;
  opacity: 0.5;
  font-size: 1rem;
  position: relative;
  bottom: 40px;
  font-family: segoe script;
  margin-top: 15px;
  /* color: white; */
}

.main-header {
  float: left;
  width: 14%;
}


form {
    /* width: 450px; */
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
form .con {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

      margin: 0 auto;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}
header h2 {
    font-size: 250%;
    font-family: 'segoe script', serif;
    color: #3e403f;
}
header p {letter-spacing: 0.05em;}





.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}



#eye {
    background: #fff;
    color: #333;

    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;

    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;

    cursor: pointer;
}
input[class="form-input"]{
    width: 250px;
    height: 50px;

    margin-top: 2%;
    padding: 15px;

    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;

    outline: none;
    border: none;

    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;

}
input[id="txt-input"] {width: 250px;}
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}



button {
    display: inline-block;
    color: #252537;

    width: 280px;
    height: 50px;

    padding: 0 20px;
    background: #fff;
    border-radius: 5px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 7% auto;
    letter-spacing: 0.05em;
}
.btn {
  height: 55%;
  color: black;
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
    padding-bottom: 10px;
}
.btn-info {background: transparent;}

.btn-info {background: #B8F2E6;}
